.tarjetaContentTotal{
    margin-top: 20px;
     display: flex;
     width: 250px;
     height: 100px;
 }
 .totalConfirmed{
     display: flex;
     flex-direction: column; 
 
 }
 .imgConfirm{
     /* display: block; */
     width: 100%; 
 }
 .txt{
     color: #3639AE;
     font-weight: bold;
     font-size: 1.5rem;
 }
.box{
    width: 20%; 
    height: auto;
    /* display: flex;

    flex-direction: column; */
}
.totalTitleStyle{
    color: rgb(18, 6, 71);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
   
}
.confirmedStyle{
    color: #3639ae ;
    font-size: 1.5rem;
    font-weight: bold;
}