.card{
    margin-top: 20px;
     display: flex;
     width: 250px;
     height: 100px;
     justify-content: center;
 }
 .totalConfirmed{
     display: flex;
     flex-direction: column; 
     margin-top: 8%;
     margin-left: 10px;
 }
 .imgConfirm{
     /* display: block; */
     width: 100%; 
 }
 .txt{
     color: #3639AE;
     font-weight: bold;
     font-size: 1.5rem;
 }
.box{
    width: 20%; 
    height: auto;
    display: flex;
}