@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tarjetaContent {
  overflow: hidden;
  font-size: 25px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
.tarjetaContent:hover {
  transform: translateY(-10px);
}
.tarjetaContent:hover .background-img {
  animation: rotate 2s linear infinite;
}
.totalCases {
    position: relative;
    height: 150px;
}
.background-img {
  opacity: 0.2;
  position: absolute;
  right: -25px;
  top: -25px;
  height: 80%;
}
.casesStyleBlue {
  color: #3639ae;
}
.casesStyleGreen {
  color: #82c519;
}
.casesStyleOrange {
  color: #ff6a07;
}
.casesStyleRed {
  color: red;
}
.casesStyleLightBlue {
  color: #2c6dff;
}
.casesStyleDarkRed {
  color: #b70202;
}
.titleStyle {
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
}
