.body {
    background-image: 
    linear-gradient(90deg, #1f0e9eab, #07cdecc7),
    url('src/assets/img/3626307.jpg');
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    left: 0;
    width: 100vw;
    height:43.75rem;
    z-index: -2000;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.25rem 0;
    margin: 0 2.50rem;
    max-width: 90.00rem;
    margin: auto;
}

#tracker{
    border: none;
    background-color: #3639ae;
    padding: 0.63rem 2.50rem;
    border-radius: 3.13rem;
    cursor: pointer;
}

#info {
    width: 35%;
    margin-left: 12.50rem;
    
}

.homeH1 {
    font-size: 3.5em;
    font-weight: bolder;
    color: white;
}

#subtitle {
    margin-top: 1.88rem;
    font-size: 1rem;
    line-height: 1.63rem;
    color: white;
}

.roundbuttonBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    left:3.13rem;
    top: 50%;
}

#illustration img{
    position: absolute;
    width: 28.13rem;
    right: 15vw;
    top: 5rem;
}

.icon {
    font-family: 'MiIcono';
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    
}
.inconos {
    font-family: 'Themify';
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    color: white;
}

.roundbutton{
    width: 2.50rem;
    height: 2.50rem;
    border-radius: 1.88rem;
    border: none;
    margin-bottom: 0.44rem;
}

.red{
    background-color: #fe6551;
}
.blue{
    background-color: #30d3c2;
}
.green{
    background-color: #93c45b;
}