/* .map-container {
    width: 700px;
    max-width: 600px;
 
  
  .country {
    fill: #cccccc;
    stroke: #ffffff;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: fill 0.3s;
  }
  
  .country:hover {
    fill: #ffcc00;
  } */