.flagContainer {
  padding: 1rem 2.5rem;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}

.buttonFlag {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  
}
.buttonFlag img{
  border-radius: 50%;
}