.titleCompCard{
    background-color: #F7F8FC;
    width: 100%;
    padding-top: 30px;
    padding-left: 40px;
}

.titleComp{
    color: #293F73;
    font-size: 21px;
}

hr{
    border-color: #E5E6F6;
    width: 93%;
    margin-top: 30px;
    margin-bottom: 0;
    justify-self: center;
}

