.titleCompCard{
    width: 80%;
    padding-top: 1.88rem;
    padding-left: 2.50rem;
}

.titleComp{
    color: #12125C;
    font-size: 1.31rem;
    font-weight: bolder;
}

hr{
    border-color: #E5E6F6;
    width: 100%;
    margin-top: 1.88rem;
    margin-bottom: 0;
    justify-self: center;
}

