
#logoCovid{
    width: auto;
    object-fit: contain; 
}

nav a{
    font-weight: bold;
    margin-right: 1.88rem;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    text-decoration: none;
    color: white;
}

.nav-icon {
    font-family: 'MiIcono';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0.63rem; 
    margin-top: -0.31rem;
    }
    

.specialStyle {
        border: none;
        background-color: #3639ae;
        padding: 10px 40px;
        border-radius: 50px;
        cursor: pointer;
}