.cardContainer {
  display: flex;
}

.cardflag {
    display: flex;
    align-items: center;
  }
  
.flagDesign {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
  }
  
  .cardText {
    padding-top: 1.25rem;
    padding-left: 0.625rem;
    float: right;
  }

  .countryName {
    color: #12125C;
    font-weight: normal;
    font-size: 0.625rem;
    padding-top: 0.625rem;
    margin: 0;
  }

.cardData {
    font-size: 0.75rem;
    font-weight: 600;
    color: #12125C;
    padding-bottom: 0.625rem;
  }

