.wrapper {
    flex: 1; /* Hace que el wrapper ocupe todo el espacio vertical restante */
    display: flex;
    flex-direction: column;
}

.containerNews {
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
    margin-bottom:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



h2 {
    font-size: 3rem;
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
}

.date, .comments {
    margin-left: 2px; /* Ajusta este valor según tus necesidades */
}


.containerImages img {
    width: 100%; 
    height: auto; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; }

.imageCenter {
    flex: 1; 
    box-sizing: border-box; 
    padding: 10px; 
}

.containerImages {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding: 0;
    gap: 20px;
    box-sizing: border-box; 
}

.containerImages h3 {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #111058;
}

.containerImages a {
    text-decoration: underline; 
    color: blue; 
}

.Icons {
    font-size: 12px;
    padding-top: 4%;
    text-align: left; }


