.wrapper {
    flex: 1; /* Hace que el wrapper ocupe todo el espacio vertical restante */
    display: flex;
    flex-direction: column;
}

.containerNews {
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
    margin-bottom: 100px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center; 
    margin-bottom: 40px; 
}

h2 {
    font-size: 3rem;
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
}

.date, .comments {
    margin-left: 2px; /* Ajusta este valor según tus necesidades */
}

.coronavirus-title {
    margin-top: 10px; 
}

.containerImages {
    display: flex;
    justify-content: space-between; 
    width: 90vw;
    margin-bottom: 20px;
    padding: 0 5px;
    gap: 20px;
}

.imageCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiado para alinear a la izquierda */
    box-sizing: border-box; 
}

.containerImages img {
    width: 95%;
    padding-top: 10%;
    padding-left: 1%;
}

.containerImages h3 {
    font-size: 18px;
    margin-top: 8%;
    margin-bottom: 10%;
    color: #111058;
}

.containerImages a {
    text-decoration: underline; 
    color: blue; 
}

.Icons {
    font-size: 12px;
    padding-top: 8%;
    text-align: left; /* Añadido para alinear el texto a la izquierda */
}